h2 {
    font-family: 'Francois One', sans-serif;
}

.wrapper {
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1em;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: space-between;
    background: white;
    flex: 1; 
}

.submission-name {
    font-weight: bold;
}

.submission-detailed-info {
    font-weight: lighter;
    color: gray;
    margin-top: 3px;
    margin-bottom: 10px;
}

button {
    background: #3897f0;
    padding: 8px 16px;
    color: white;
    font-size: 14px;
    border-radius: 6px;
    font-weight: 600;
    border-color: #3897f0;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.1)
}

a {
    text-decoration: none;
}

.view {
    padding: 5px;
}
